services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: capstone_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    environment:
      - DB_HOST=db
      - DB_NAME=capstone_db
      - DB_USER=postgres
      - DB_PASS=postgres
    depends_on:
      - db
    networks:
      - app-network
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile
    ports:
      - "8081:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
